.contenedor {
    background-color: coral;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
}


.item {
    padding: 20px;
    background-color: cyan;
    border: 10px black;

}

#c-columna-fila{
    grid-template-columns: 100px 1fr 2fr;
    grid-template-rows: auto 150px;

}